body {
  background-image: url('https://i.pinimg.com/originals/2b/84/53/2b8453d9c9f6e1e1c35dcb523e516478.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 160%;
}
h1 {
background-color: #B0E0E6; text-align:center; color: black;
}
h2 {
background-color: #B0E0E6; text-align:center color: black;;
}
h3 {
border: 8px solid #7eb8bf; color: black;;
}
h4{
border: 5px solid #7eb9bf; color: black;;
}
p {
  background-color: #B0E0E6; text-align:center; color: black;
}
ul {
 border: 5px solid #7eb9bf; color: black;;
}